body {
    font-family: 'Montserrat';
}

#title {
    background-color: #ff4c68;
    color: #fff;
}


.navbar {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px;
}


.navbar-brand {
    font-size: 2.5rem;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}


    .download-btn {
        margin: 5% 3% 5% 0%;
    }


.container-fluid{
    padding: 3% 15%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
}


.phone-img {
    width: 60%;
    transform: rotate(25deg);
}